# Maven
target/
test-output/
!.mvn/wrapper/maven-wrapper.jar

# Kotlin
.kotlin

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/build/

# VS Code
.vscode/

# Mac OS
.DS_Store
